<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Email Confirmation</title>
  </head>
  <body>
    <h1>Email Confirmation</h1>
    <p> Félicitations ! Nous sommes ravis de vous informer que vous avez été accepté à la chorale. Bienvenue dans notre communauté musicale.\n\nCordialement,\nL'équipe de la chorale. Confirmez votre email en cliquant sur le bouton ci-dessous puis vérifiez votre boîte de réception, un autre e-mail vous sera envoyé.: </p>

    <form action="<%= link %>" method="post">
      <input type="hidden" name="token" />
      <button type="submit">Confirmer Email</button>
    </form>
    
    <p>Merci et bienvenue dans notre chorale !</p>
  </body>
</html>