<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Email Login</title>
  </head>
  <body>
    <h1>Félicitations !</h1>
    <p>Vous êtes officiellement inscrit avec nous, voici vos informations de connexion :</p>

    <p><strong>Login :</strong> <%= login %></p>
    <p><strong>Mot de passe :</strong> <%= motDePasse %></p>

    <form action="<%= link %>" method="post">
      <input type="hidden" name="token" />
      <button type="submit"> Se connecter </button>
    </form>
    
    <p>Merci et bienvenue dans notre chorale !</p>
  </body>
</html>
